/* This File, unlike the other ones, can be renamed if you want */
.blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
    font-size: 2.25rem;
  }
  
  .blog-header-logo:hover {
    text-decoration: none;
  }
  .header-div{
    background-color: gray;
  }
  .post-text-body p{
    color:black;
  }
  /*Class that contains the text "review" of the media*/
  .post-text-body{
    padding: 2%;
  }
  /*Contains a whole post, including text, images, and header*/
  .post-full-body{
    border-style: solid;
    border-radius: 25px;
    margin-bottom: 5px;
    background-color: rgb(185, 165, 138);
  }
  /*Area that contains all the metadata (Title, date published, etc)*/
  .PostHeader{
    border-style: solid;
    border-color: gray;
    border-radius: 25px;
    margin-bottom: 10px;
  }
  /*The Title of the Media*/
  .PostHeader p strong{
    font-size: large;
  }
  #Post-Contents{
    margin-left: 10%;
    margin-right: 10%;
  }
  body{
    background-color: aliceblue;
  }